html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* logo */
.NMH-g-navicon {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
}

.NMH-g-navicon.Jnmh-onleft {
    right: auto;
    left: 020px;
}

/* logo */
.NMH-g-navicon .Jnmh-btnlogo {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 0;
    margin-top: -30px;
    border: 0;
    background: url(./menu.svg) no-repeat center center;
    background-size: 60% 60%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px 0px;
    outline: none;
    border-radius: 50%;
    z-index: 1;
}

.NMH-g-navicon .Jnmh-btnlogohover {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 50%;
    right: 0;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    border: 0;
    overflow: hidden;
    /* background-color: red; */
}

/* logo on mouse hover */
.NMH-g-navicon.Jnmh-open .Jnmh-btnlogohover {
    margin-top: -100px;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 0 100px;
}

.NMH-g-navicon.Jnmh-onleft .Jnmh-btnlogohover {
    left: 0;
    right: auto;
    border-radius: 0 50px 50px 0;
}

/* opened sub-menu */
.NMH-g-navicon .Jnmh-m-submenu {
    position: absolute;
    background-color: transparent;
    list-style: none;
    top: -40px;
    bottom: -40px;
    left: -40px;
    right: -40px;
    margin: 0;
    padding: 0;
}

.NMH-g-navicon .Jnmh-m-submenu .Jnmh-subli {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.8s ease-in-out;
}

.Jnmh-m-submenu .Jnmh-subdl {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.NMH-g-navicon.Jnmh-open .Jnmh-m-submenu .Jnmh-subdl {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: -25px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.NMH-g-navicon.Jnmh-open .Jnmh-m-submenu .Jnmh-subdd {
    position: absolute;
    line-height: normal;
}